@(message: String)

@main("BD2 Kus Pachana") {

    <a href="/parse">PARSE XML</a></br>
    <a href="/persist">PERSIST INPUT</a></br>
    </br>
    <a href="/a">liczba tematów utworzonych w 2013 roku</a></br>
    <a href="/b">najbardziej popularny temat w maju 2013</a></br>
    <a href="/c">średnia długość tekstu posta</a></br>
    <a href="/d">użytkownik wypowiadający się w największej liczbie tematów</a></br>
    <a href="/e">użytkownik komentujący największą liczbę innych użytkowników</a></br>
    <a href="/f">liczba postów zawierających słowo 'Frodo'</a></br>
    <a href="/g">liczba postów wysłanych przez użytkowników z miasta na literę 'K'</a></br>
    <a href="/h">35te najczęściej użyte słowo w treści posta</a></br>

}
